<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.spms.mapper.DefectMapper">
    <select id="countByProId" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM defect WHERE pro_id = #{proId} AND demand_status != -1
    </select>

    <select id="countByProIdWhereIsComplete" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM defect WHERE pro_id = #{proId} AND demand_status = 2
    </select>
</mapper>
